body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(201, 211, 232);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container{
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    box-shadow: inset;
}
.component{  
    text-align: center;
    border-radius: 20px;
    background-color: rgb(249, 252, 255);
    height: 450px;
    width: 300px;
}
img{
    width: 90%;
    margin-top: 5%;
    border-radius: 10px;
}
.text{
    padding: 0% 12% 0% 12%;
}
.title{
    font-size: large;
    font-weight: bolder;
    color: rgb(20, 18, 18);
}
.content{
    font-size: small;
    font-weight: lighter;
    color: rgb(87, 89, 96);
}
@media screen  and (max-width:600px){
    .container{
        scale: 1.02;
    }
}